<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <h1>Stories</h1>
      <nav>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/detox">Detox Centers</a>
            </li>
            <li>
              <a href="/residential">Residential Centers</a>
            </li>
            <li>
              <a href="/stories">Stories</a>
            </li>
          </ul>
            <a href="/stories/new">Share your Experience</a>
          </li>
        </ul>
      </nav>
      </nav>
    </header>
    <main>
      <h2></h2>
      <ul>
        <% for(let i = 0; i < stories.length; i++){ %>
        <li>
          <a href="/stories/<%=stories[i]._id%>">SHOW PAGE</a>
            <img src="<%= stories[i].image %>"/> 
            <h5><%= stories[i].name %></h5>
            <h5><%= stories[i].location %></h5>
            <p><%= stories[i].body %></p>
           
          <form action="/stories/<%= stories[i]._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"  />
          </form>
          <a href="/stories/<%= stories[i]._id %>/edit">EDIT</a>
        </li>
        </li>
        <% } %>
      </ul>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>